html, body, section {
    block-size: 100%;
  }
 
html {
  scroll-snap-type: y mandatory;
}

a{
  text-decoration: none;
  color: rgb(99, 104, 244);
}

#about-me-pic{
  box-sizing: border-box;
  border-radius: 20px;
  max-width: 400px; 
  padding: 10px;
  margin: auto;
  
}

#about-me-text{
  width: 100%;
  max-width: 800px;
  
}

#about-me-text h1, #about-me-text p{
  justify-self: center;
  margin-top: 0;
  opacity: 0.75; 
}

body {
  margin: auto;
  font-size: 2.5rem;
}

button{
  text-decoration: none;
  color: black;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1 {
  background-color: #7327ca; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.button2 {
  background-color:#0072b1; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



.button3 {
  background-color:#f44336; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons{
  margin: auto;
}

.buttons a{
  color: black
}

h2 {
 font-size: 100%;
}


.container-col{
  display: flex;
  flex-direction: column;
}

.container-row{
  display: flex;
  align-items: flex-start;
}

.grid-container{
  display: inline-grid;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 2%;
  justify-content: center;
}

img{
  max-width: 90%;
  height: auto;
}

.item{
  display: inline;
  text-align: center;
}

.link:hover {
  text-shadow: 2px 2px 5px black;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

section:nth-of-type(even) {
  color: rgb(58, 61, 150);
  background: rgb(99, 104, 244);
}

section:nth-of-type(odd) {
  color: rgb(99, 104, 244);
  background: rgb(58, 61, 150);
}